#project-container{
    text-align: center;
    margin-top: 5vh;
    background-color: whitesmoke;
    padding-bottom: 30px;
}

#projects-top-left{
    
    color: gray;
    font-size: 23px;
    font-weight: 500;
    margin-left: 150px;
    text-align: left;
}

#projects-top-right{
    color: rgb(102, 211, 102);
    font-size: 23px;
    font-weight: 500;
    margin-right: 80px;
    text-align: right;
}


#projects-mid-left{
    color: rgb(102, 211, 102);
    border-bottom: solid rgb(102, 211, 102);
    font-size: 23px;
    font-weight: 500;
    
}

#projects-mid-right{
    
    color: gray;
    font-size: 23px;
    font-weight: 500;
    border-bottom: 1px solid  grey;
}
.photo-title{
    color: lightgreen;
}

.invited{
    margin-bottom: 20px;
}


#project-font{
    color: white;
}
.projects-hr{
    margin-top: 30px;
    margin-bottom: 30px;
    color: grey;
}

.projects-bottom{
    margin-top: 40px;
    color: gray;
}
.projects-bottom-text{
    font-size: 25px;
}


#project-row-top{
    margin: 0 -100px;
}




.inside-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'Quicksand', sans-serif;
    
    
}
#poular-blogs {
    padding: 0 50px;
    margin-top: 30px;
}
.blog{
    padding: 30px 0;
    margin-top: 70px;
    
   
}
.item-title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1px;
    color: lightgreen !important;
    
    
}

.single-blog{
    box-shadow: 0px 2px 4px 1px lightgray;
    width: 100%;
    margin:40px 0;
    background: white;
    opacity: .8;
}

.single-blog img{
    width: 100%;
    display: block;
    height: 350px; 
    
}

.posts p{
    color:grey;
    
}

.posts,
.comments{
    margin:0 40px;
    padding:30px 0;
    
}

.comments{
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    
    
}

.comments li a{
    color:lightgreen;
    margin-left: 10px;
    
}

.comments li:nth-of-type(2){
    padding-left: 10px;
}

.comments li:nth-of-type(3){
    flex:1 1 65%;
    text-align: right;
}

@media screen and (min-width:664px){
 .blog-center{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .single-blog{
     flex:0 0 calc(50% - 20px);
     margin:20px 0;
 }


}


@media screen and (min-width:968px){
   
   
    .single-blog{
        flex:0 0 calc(33% - 20px);
        margin:20px 0;
    }

    .single-blog img{
        height: 260px;
    }
   
   
   }