@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


.labs{
    color: whitesmoke;
}
.span-lab{
    background-color: lightgreen;
    padding: 0 50px 0 50px;
    border-radius: 10px;
    
}
.main-content {
   
    max-width: 90%;
    margin: auto;
    padding-bottom: 50px;
    background-color: whitesmoke;
    
}

.main-content h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    
    
}

.challenge-name{
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #515966;
    font-family: 'Quicksand', sans-serif;
}
.challenge-span{
    
    padding: 0 30px 0 30px;
}

#container-challenge {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
}



.challenge-container {
    display: inline-block;
    text-align: center;
    
}

.challenge-image {
    width: 250px;
    height: 250px;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 10%;
}

.challenge-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.challenge-image:hover {
    cursor: pointer;
}

.challenge-profile-image {
    width: 100%;
    height: 500px;
    background-size: cover;
}
.back {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgray;
    padding: 3px 8px;
    border-radius: 5px;
    color: white;
    background-color: lightgreen;
    text-decoration: none;
}

.image-profile{
    width: 100%;
    height: 500px;
    background-size: cover;
}